<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">CV4Edu - Computer Vision for Education</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
							<p>Computer vision (CV) plays a central role in human‑centered AI, yet most models are trained on web‑scale benchmarks that poorly reflect real classrooms. Educational data are noisy, private, small‑scale, and multimodal (e.g.,face, gaze, pose). Students’ cognitive/behavioral states (e.g.,engagement, mind‑wandering) and learning processes (e.g.,self-regulation, collaboration) can be inferred from subtle cues in the lab. Still, today’s models struggle to generalize to noisy classroom data. CV4Edu brings together computer vision, human-computer interaction, and educational researchers to chart a community agenda for efficient, privacy‑aware multimodal data-driven models that work more efficiently and reliably in low‑resource, real‑world classrooms—potentially launching shared datasets, metrics, and unified practices.
							</p>
            </div>
          </div>


        </div>
      </div>
