			<!-- Banner section -->
      <div id="banner" class="banner">
        <div class="container" style="text-align:right">
          <h2 class="right-align banner-heading">Computer Vision × Education: building a cross‑community agenda for multimodal
vision in classrooms</h2>
          <h4 class="right-align banner-subheading">2026</h4>
          <br />
          <!--<a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; color: black; background-color: {{site.color.primary-dark}}">Register</a>-->
          <br />
        </div>
      </div>
