<!-- Modals section -->

    <!-- Speaker modals -->
    {% for speaker in site.invited_speakers %}
    <div id={{speaker.id}} class="modal">
      <div class="modal-content">
        <h4><a href="{{speaker.link}}">{{speaker.name}}</a> <small style="color: gray"><small>{{speaker.title}}, {{speaker.affiliation}}</small></small></h4>
        <h5>{{speaker.talk_title}}</h5>
        <h6>{{speaker.talk_abstract}}</h6> 
        <hr>
        {{speaker.content | markdownify}}
        <a href="{{speaker.link}}" target="_blank">{{speaker.link}}</a>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>     
    {% endfor %}

    <!-- Archival Paper modals -->
    {% for archival_paper in site.archival_papers %}
      <div id={{archival_paper.id}} class="modal">
        <div class="modal-content">
          <h4>{{archival_paper.title}}</h4>
          <h5>{{archival_paper.author}}</h5>
          {{archival_paper.content | markdownify}}
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>     
    {% endfor %}


    <!-- Non-Archival Paper modals -->
    {% for nonarchival_paper in site.nonarchival_papers %}
      <div id={{nonarchival_paper.id}} class="modal">
        <div class="modal-content">
          <h4>{{nonarchival_paper.title}}</h4>
          <h5>{{nonarchival_paper.author}}</h5>
          {{nonarchival_paper.content | markdownify}}
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>     
    {% endfor %}
