<!-- Organizers section -->
      <div class="section scrollspy section-gray-section" id="organizers">
        <div class="container">
          <h4 class="center-align section-gray-header">Conference Organizers</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-gray-body">
              <p class="center">For any questions about the workshop, please contact <a href="mailto:{{site.organizer-email1}}">{{site.organizer-email1}}</a>
              </p>
            </div>
          </div>
				
				<div class="row">
				  {% assign organizers_sorted = site.organizers | sort: "order_number" %}
				  {% assign total = organizers_sorted | size %}
				  {% assign remainder = total | modulo: 4 %}
				
				  {% for organizer in organizers_sorted %}
				    {% assign is_last = forloop.last %}
				    {% assign offset_class = "" %}
				
				    {% if is_last and remainder == 1 %}
				      {% assign offset_class = "offset-l4" %}
				    {% endif %}
				
				    <a href="{{ organizer.link }}">
				      <div class="col s12 m6 l3 {{ offset_class }} center">
				        <div class="card hoverable">
				          <div class="card-image">
				            <img class="activator portrait-img" src="{{ organizer.image }}">
				            <span class="card-title" id="main-title">{{ organizer.name }}</span>
				          </div>
				          <div class="card-content" id="secondary-title">
				            <span class="card-title activator" id="secondary-title-text">{{ organizer.title }}</span>
				          </div>
				        </div>
				      </div>
				    </a>
				  {% endfor %}
				</div>


      </div> 
    </div>
