<!-- Papers section -->
      <div class="section scrollspy section-white-section" id="papers">
        <div class="container">
          <h4 class="center-align section-white-header">Papers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">              
              <ul class="browser-default">
								<li>Types: Full papers (<a href="https://cvpr.thecvf.com/Conferences/2026/AuthorGuidelines">CVPR style/length guidelines</a>, max 8 pp excl. refs); or Extended abstracts/position papers (2–4 pp incl. refs).</li>
								<li>Review process: double‑blind; at least two reviews + meta‑review; ethics/IRB checklist and optional ethics/impact statement.</li>
								<li>Review timeline: We will align submission/notification with the official CVPR workshop schedule windows (see table below). Note: we will also mirror camera‑ready deadlines.</li>
								<li>Paper submission will open soon.</li>
              </ul>
							<div class="container">
								<table>
									<tr>
										<th>Milestone</th>
										<th>Date</th>
										<th>Description</th>
									</tr>
									<tr>
									<td>Paper Submission Deadline</td>
									<td>Friday, February 27, 2026</td>
									<td>Final date for authors to submit their completed papers via the online portal.</td>
								</tr>
								<tr>
								<td>Review Period Starts</td>
								<td>Saturday, February 28, 2026</td>
								<td>Papers are assigned to reviewers and the 3-week review period begins.</td>
								</tr>
								<tr>
								<td>Reviews Due</td>
								<td>Friday, March 20, 2026</td>
								<td>Reviewers are expected to have submitted all their reviews by this date.</td>
								</tr>
								<tr>
								<td>Internal Discussion Period</td>
								<td>Sat, Mar 21 – Wed, Apr 1, 2026</td>
								<td>Area Chairs and organizers finalize decisions.</td>
								</tr>
								<tr>
								<td>Decision Notification Deadline</td>
								<td>Thursday, April 2, 2026</td>
								<td>All authors receive final decisions (Accept or Reject).</td>
								</tr>
								<tr>
								<td>Camera-Ready Submission</td>
								<td>Saturday, April 11, 2026</td>
								<td>Deadline for accepted papers to upload the final, camera ready version.</td>
								</tr>
								</table>
              </div>
							<br/>
              <div class="container" style="text-align:center">
                <!--<a href="{{site.upload-form}}" class="btn-large" style="font-weight:bold; color: black; background-color: {{site.color.primary-dark}}">Submit paper</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
