<!-- Venue section -->
      <div class="section scrollspy section-white-section" id="venue">
        <div class="container">
          <h4 class="center-align section-white-header">Venue</h4>

          <div class="row">
            <div class="col s12 m5 section-white-body">
              <address>
                Denver Convention Center <br />
                700 14th Street <br />
                Denver CO 80202
              </address>
							<p>The workshop will be held together with <a href="https://cvpr.thecvf.com/Conferences/2026">CVPR 2026</a>.
              </p>
            </div>
            <div class="col s12 m7 section-white-body">
              <div class="google-maps">
                <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>            
              </div>
            </div>
          </div>
        </div>
      </div>
